/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 
Small: 
Medium: 
Paragraph default: 
Large: 

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: 
- Tints:


- Shades: 


- Accents:
- Greys


--- 05 SHADOWS



--- 06 BORDER-RADIUS

Default:
Medium: 

--- 07 WHITESPACE


*/

@import url("https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;

  /* Does NOT work on Safari */
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Sorts Mill Goudy", serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #faeed1;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}
/*###################
###### NAVBAR ######
###################*/
.nav-logo-box img {
  height: 100px;
  width: auto;
  padding: 2rem;
}
header {
  display: flex;
  background-color: #fdf7e4;
  justify-content: space-around;
  height: 10rem;
}
nav {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  font-weight: 400;
  font-family: inherit;
}
.nav-item {
  font-size: 2.4rem;
}
.nav-item a {
  color: #000;
  text-decoration: none;
}
.nav-item a:hover {
  color: #bbab8c;
  text-decoration: none;
}
.nav-btn-con {
  display: flex;
  gap: 4.8rem;
}
.nav-btn-con button {
  height: 4.8rem;
  width: 9.8rem;
  border: none;
  font-family: inherit;
  background-color: #ded0b6;
  font-size: 1.8rem;
  cursor: pointer;
}
.nav-btn-con button:hover {
  background-color: #aaa190;
}
.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
